@import './mixins.scss';
@import './variable.scss';

.site-list {
    font-family: "Bebas Neue Bold", sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    justify-content: space-around;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    color: #fff;

    @include mobile-width-only {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: none;
        margin: 0 20px 0px;
        min-width: 0;
    }
}

.site-list__link {
    color: #fff;
    text-decoration: none;
}

.site-list__link--home {
    color: #070707;
}

.site-list__item {
    padding-top: 32px;
    padding-bottom: 32px;

    @include mobile-width-only {
        font-family: "Bebas Neue Bold", sans-serif;
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 50px;
        margin-left: 26px;
        padding-top: 0;
    }
}